.btn-vehicle {
    margin-right: $mg-1;
    @include button($color-blue-200,$color-blue-100, $color-white, $pd-1 $pd-5, $color-white, $color-blue-100);
    @media screen and (max-width: 768px) {
    @include button($color-blue-200,$color-blue-100, $color-white, $pd-1 $pd-5, $color-white, $color-blue-100);
    font-size: 1.2rem;
    }
}

.btn-vehicle-active {
    @include button($color-blue-200,$color-white, $color-blue-200, $pd-1 $pd-5, $color-blue-200, $color-white)
}

.btn-search {
    @include button($color-blue-200,transparent, $color-blue-100, $pd-1 $pd-5, $color-blue-200, $color-white);
    font-size: 0.9rem;
    @media screen and (max-width: 576px) {
        @include button($color-white,transparent, $color-white, $pd-1 + 1 $pd-4, $color-white, $color-blue-100);
        font-size: 0.9rem;
        border-radius: 5px;
        margin-left: $mg-2 - 5;
        font-weight: $font-weight-300;
    };
    @media screen and (max-width: 768px) {
        @include button($color-white,transparent, $color-white, $pd-1 + 1 $pd-4, $color-white, $color-blue-100);
        font-size: 0.9rem;
        border-radius: 5px;
        margin-left: $mg-2 - 5;
        font-weight: $font-weight-300;
    }
    @media screen and (max-width: 992px) {
        @include button($color-white,transparent, $color-white, $pd-1 + 1 $pd-4, $color-white, $color-blue-100);
        font-size: 0.9rem;
        border-radius: 5px;
        margin-left: $mg-2 - 5;
        font-weight: $font-weight-300;
    }
}

.btn-carousel {
    @include button($color-orange, $color-orange, $color-white, $pd-1 $pd-2, $color-white, $color-orange);
    font-size: 1.2rem;
    padding: 6px 25px;
    @media screen and (max-width: 992px) {
        @include button($color-orange, $color-orange, $color-white, $pd-1 $pd-2, $color-white, $color-orange);
        font-size: 1rem;
        padding: 5px 22px;
    }
}

.btn-go {
    @include button($color-blue-200, $color-blue-200, $color-white, $pd-1 $pd-2, transparent, $color-blue-100 );
    @media screen and (max-width: 576px) {
        @include button($color-blue-200, $color-blue-200, $color-white, $pd-1 $pd-2, transparent, $color-blue-100 );
        font-size: 1.1rem;
    }
}

.btn-go-orange {
    @include button($color-orange, $color-orange, $color-white, $pd-1 $pd-2, $color-white, $color-orange );
    @media screen and (max-width: 576px) {
        @include button($color-orange, $color-orange, $color-white, $pd-1 $pd-2, $color-white, $color-orange );
        font-size: 1.1rem;
    }
}

.btn-build {
    @include button($color-white,$color-blue-200, $color-white, $pd-1 $pd-2, $color-white, $color-blue-200);
    
    @media screen and (max-width: 1200px) {
        @include button($color-white,$color-blue-200, $color-white, $pd-1 $pd-2, $color-white, $color-blue-200);
        font-size: 1.1rem;
    }
    @media screen and (max-width: 576px) {
        @include button($color-white,$color-blue-200, $color-white, $pd-1 $pd-2, $color-white, $color-blue-200);
        font-size: 1rem;
    }
}
.btn-caption {
    padding: $pd-1 $pd-3 + 2;
    font-size: $font-size-1 - 0.2;
    @media screen and (max-width: 576px) {
    font-size: $font-size-1 - 0.4;
    padding: $pd-1 $pd-3;
    }
}